﻿@model ContactsApp.Models.Contact

@{
    ViewBag.Title = "Details";
}
@{
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
}
<ol class="breadcrumb breadcrumb-arrow">
    <li>@Html.ActionLink("All Contacts", "Index")</li>
    <li class="active"><span>Edit</span></li>
</ol>

<h2>Details</h2>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Contact Details
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.SecondName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SecondName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ThirdName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ThirdName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.level)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.level)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Transportation)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Transportation)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AttendanceDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AttendanceDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FatherPhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FatherPhone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MotherPhone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MotherPhone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RelativeMobile)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RelativeMobile)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Relastionship)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Relastionship)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmailAddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Note)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    @if (user.Claims.Any(a => a.Type.Contains("View Contacts History")))
    {
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Action logs

                </div>
                <div class="panel-body">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Action
                                </th>
                                <th>
                                    User
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AddedBySystem)
                            {
                                <tr>
                                    <td colspan="3">Added by System</td>
                                </tr>
                            }
                            @foreach (var item in Model.Logs.ToList())
                            {
                                <tr>
                                    <td>
                                        @item.ActionTime.ToString()
                                    </td>
                                    <td>
                                        @item.Action
                                    </td>
                                    <td>
                                        @(item.User.FirstName + " " + item.User.LastName)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    }

</div>
