﻿@model IEnumerable<ContactsApp.Models.Contact>

@{
    /**/

    ViewBag.Title = "All Contacts";
    string message = (string)ViewBag.Message;
}
@{
    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
}

<ol class="breadcrumb breadcrumb-arrow">
    <li class="active"><span>Home</span></li>
</ol>
<div class="row">

    <div class="col-sm-6">
        <h2>All Contacts</h2>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-success" style="float:right;margin-top:21px" href="@Url.Action("Create")"> <i class="glyphicon glyphicon-plus"></i> Add New Contact</a>
    </div>
</div>

<table class="table table-condensed table-bordered table-responsive" width="100%" id="tbl-data">
    @*<thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecondName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ThirdName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Transportation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FatherPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MotherPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RelativeMobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th class="all col-actions">
                    Actions
                </th>
            </tr>
        </thead>*@
    <tbody>
        @*@foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecondName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThirdName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Transportation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FatherPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MotherPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RelativeMobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <span class="btn-group btn-group-sm">
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = item.ID })">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-default" href="@Url.Action("Details", new { id = item.ID })">
                                <i class="glyphicon glyphicon-info-sign"></i>
                            </a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.ID })">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            }*@
    </tbody>
</table>

@section scripts{
    <script>

        $(function () {
            $('#tbl-data').DataTable({
                ajax: '@Url.Action("GetJSON")',
                "responsive": {
                    details: {
                        renderer: function (api, rowIdx, columns) {
                            var data = $.map(columns, function (col, i) {
                                //    return col.hidden ?
                                //        '<dt>' + col.title + ':' + '</dt> ' +
                                //        '<dd>' + col.data + '</dd>' : '';
                                //}).join('');
                                if (col.hidden) {
                                    return col.title == "" || col.title == "Actions" ? '' : '<div class="form-group" style="width:100%"><label class="control-label col-md-3">' + col.title + ':' + '</label> ' +
                                        '<div class="col-md-9"><span class="form-control form-control-readonly">' + col.data + '</span> </div></div></br>';

                                } else
                                    return "";
                               }).join('');

                            return data ? $('<div class="form-horizontal"/>').append(data) : false;
                        }
                    }
                },
                dom: 'Bflrtip',
                //colReorder: true,
                buttons: [
                    {
                        extend: 'copy',
                        text: "<i class='glyphicon glyphicon-copy'></i> نسخ",
                    },
                    {
                        extend: 'excel',
                        text: "<i class='glyphicon glyphicon-save-file'></i> تصدير الى الاكسل",
                    },
                    {
                        extend: 'colvis',
                        columns: ':not(.all)',
                        text: "<i class='glyphicon glyphicon glyphicon-menu-hamburger'></i> الاعمدة",
                        columnText: function (dt, idx, title) {
                            var btnHTML = "<i class='glyphicon glyphicon-unchecked unchecked'></i><i class='glyphicon glyphicon-check checked'></i> " + title;
                            //btnHTML = (idx + 1) + ': ' + title;
                            return btnHTML;
                        }
                    },
                ],
                "lengthMenu": [25, 50, 100, 200],
                columnDefs: [
                    {
                        "targets": 0,
                        "title": "الكل",
                        "data": "ID",
                        "className": "all",
                    },
                    {
                        "targets": 1,
                        "title": "الاسم الكامل",
                        "data": "FullName",
                        "className": ""
                    },
                    //{
                    //    "targets": 2,
                    //    "title": "الاسم الثاني",
                    //    "data": "SecondName",
                    //    "className": ""
                    //},
                    //{
                    //    "targets": 3,
                    //    "title": "الاسم الثالث",
                    //    "data": "ThirdName",
                    //    "className": ""
                    //},
                    //{
                    //    "targets": 4,
                    //    "title": "اسم العائلة",
                    //    "data": "LastName",
                    //    "className": ""
                    //},
                    {
                        "targets": 2,
                        "title": "الصف",
                        "data": "level",
                        "className": ""
                    },
                    {
                        "targets": 3,
                        "title": "الجنس",
                        "data": "Gender",
                        "className": ""
                    },
                    {
                        "targets": 4,
                        "title": "اشتراك الباص",
                        "data": "Transportation",
                        "className": ""
                    },
                    {
                        "targets": 5,
                        "title": "هاتف الاب",
                        "data": "FatherPhone",
                        "className": ""
                    },
                    {
                        "targets": 6,
                        "title": "هاتف الام",
                        "data": "MotherPhone",
                        "className": ""
                    },
                    {
                        "targets": 7,
                        "title": "رقم القريب",
                        "data": "RelativeMobile",
                        "className": ""
                    },
                    {
                        "targets": 8,
                        "title": "البريد الالكتروني",
                        "data": "EmailAddress",
                        "className": ""
                    },
                    {
                        "targets": 9,
                        "title": "العنوان",
                        "data": "Address",
                        "className": ""
                    },
                    {
                        "targets": 10,
                        "title": "ملاحظات",
                        "data": "Note",
                        "className": ""
                    },
                    {
                        "targets": 11,
                        "title": "الحالة",
                        "data": "Status",
                        "className": "",
                        render: function(d) {
                            if (d == 1) {
                                return '<span class="label label-success">فعال</span>';
                            }
                            else {
                                return '<span class="label label-danger">حذف</span>';
                            }
                        }
                    },
                    {
                        "targets": 12,
                        "title": "تاريخ الانشاء",
                        "data": "CreatedDate",
                        "className": "",
                        "render": function (d, t, r) {
                            if (d) {
                                return new moment(d).format('L') + " @@ " + moment(d).format('LT');
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "targets": 13,
                        "title": "تاريخ اخر تعديل",
                        "data": "LastModifiedDate",
                        "className": "",
                        "render": function (d, t, r) {
                            if (d) {
                                return new moment(d).format('L') + " @@ " + moment(d).format('LT');
                            }
                            else {
                                return "";
                            }
                        }
                    },
                    {
                        "targets": 14,
                        width:'120px',
                        "title": "Actions",
                        "data": "ID",
                        "className": "all col-actions",
                        render: function (d,t,r) {
                            var str = ' ' +
                                '                           <a class="btn btn-default btn-sm" href="@Url.Action("Details")/' + d + '">  ' +
                                '                               <i class="glyphicon glyphicon-info-sign"></i>  ' +
                                '                           </a>  ';

                            @if (user.Claims.Any(a => a.Type.Contains("Manage Contacts")))
                    {
                        <Text>
                            str = str +
                                '                           <a class="btn btn-primary btn-sm" href="@Url.Action("Edit")/' + d + '">  ' +
                                '                               <i class="glyphicon glyphicon-edit"></i>  ' +
                                '                           </a>  ';
                            if (r["Status"] ==1) {
                                                            str+='<a class="btn btn-danger btn-sm" href="@Url.Action("Delete")/'+d+'"><i class="glyphicon glyphicon-trash"></i></a>  ';
                            }

                            </Text>
                    }




                            return str;
                        }
                    }
                ],
                stateSave: true,

            });
        });

    </script>
}