﻿@{
    ViewBag.Title = "Contact";
}


<address>
    Ahmed Alkaff<br />
    Irbid, Jordan <br />
    <abbr title="Phone">P:</abbr>
    07956-6399
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">AhmedAlkaff@outlook.com</a><br />
</address>