﻿<!DOCTYPE html>
<html>
<head>
    @* Todo: to change the Layout to RTL  *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Contacts</title>
    <script src="~/Scripts/pace.min.js" type="text/javascript"></script>
    <link href="~/Content/pace/themes/pace-theme-loading-bar.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        var user = (System.Security.Claims.ClaimsIdentity)User.Identity;
    }
    <style>
        td.col-actions, th.col-actions {
            width: 106px !important;
            min-width: 106px !important;
        }

        .pace-running .overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.22);
            z-index: 10;
        }
    </style>
</head>
<body>
    <div class="overlay">

    </div>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Contacts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (user.Claims.Any(a => a.Type.Contains("Contacts")))
                    {
                    <li>@Html.ActionLink("Contacts", "Index", "Contacts")</li>
                    }
                    @if (user.Claims.Any(a => a.Type == "Approve Users"))
                    {
                    <li>@Html.ActionLink("Users & Permissions", "Users", "Account")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="modal fade" id="msgModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="font-weight:bold">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="font-weight:bold"><i class="glyphicon glyphicon-info-sign"></i> Information</h4>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.Message</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-check"></i> OK</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ahmed Alkaff</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script type="text/javascript">
            $(window).on('load', function () {
                $('#msgModal').modal('show');
                var myNewURL = refineURL();
                window.history.replaceState({}, document.title, "/" + myNewURL);
            });
            
            function refineURL() {
                //get full URL
                var currURL = window.location.href; //get current address

                //Get the URL between what's after '/' and befor '?' 
                //1- get URL after'/'
                var afterDomain = currURL.substring(currURL.lastIndexOf('/') + 1);
                //2- get the part before '?'
                var beforeQueryString = afterDomain.split("?")[0];

                return beforeQueryString;
            }
        </script>


    }
</body>
</html>
