﻿@model IEnumerable<ContactsApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    var lstClaims = (List<ContactsApp.Models.AppClaim>)ViewBag.Claims;
}
<h2>
    Manage Users
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            Allowed Roles
        </th>
        <th>
            Other Roles
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
          @foreach (var claim in item.Claims)
          {
              <a href="@Url.Action("RemoveClaim","Account",new { ClaimId= claim.Id})" class="label label-primary">@claim.ClaimType</a>
          }
        </td>
        <td>
            @foreach (var claim in lstClaims.Where(x=> item.Claims.Any(y=>y.ClaimValue == x.ClaimId.ToString())).ToList())
            {
                <a href="@Url.Action("AddClaim","Account",new { ClaimId= claim.ClaimId,ClaimName=claim.ClaimName, UserId = item.Id})" class="label label-success">@claim.ClaimName</a>
            }
        </td>
        <td>

        </td>
    </tr>
}

</table>
