﻿@model IEnumerable<ContactsApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Manage Users";
    var lstClaims = (List<ContactsApp.Models.AppClaim>)ViewBag.Claims;
    string message = (string)ViewBag.Message;
}
<ol class="breadcrumb breadcrumb-arrow">
    <li>@Html.ActionLink("All Contacts", "Index","Contacts")</li>
    <li class="active"><span>Manage Users</span></li>
</ol>

<h2>
    Manage Users
</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Status
        </th>
        <th>
            Allowed Roles
        </th>
        <th>
            Other Roles
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.ApprovedByAdmin)
                {
                <span class="label label-success"><i class="glyphicon glyphicon-check"></i> Active</span>
                }
                else
                {
                <span class="label label-danger"><i class="glyphicon glyphicon-remove"></i> Inactive</span>
                }
            </td>
            <td>
                @foreach (var claim in item.Claims)
                {
                <a href="@Url.Action("RemoveClaim","Account",new { ClaimId= claim.ClaimValue,UserId = item.Id})" class="label label-primary">@claim.ClaimType</a>
                }
            </td>
            <td>
                @foreach (var claim in lstClaims.Where(x => !item.Claims.Any(y => y.ClaimValue == x.ClaimId.ToString())).ToList())
                {
                <a href="@Url.Action("AddClaim","Account",new { ClaimId= claim.ClaimId,ClaimName=claim.ClaimName, UserId = item.Id})" class="label label-success">@claim.ClaimName</a>
                }
            </td>
            <td>
                @if (item.ApprovedByAdmin)
                {
                <a href="@Url.Action("DeactivateUser","Account",new { UserId = item.Id})" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i> Deactivate</a>
                }
                else
                {
                <a href="@Url.Action("ActivateUser","Account",new { UserId = item.Id})" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-check"></i> Activate</a>
                }

                <a href="@Url.Action("ResetPasswordByAdmin","Account",new { UserId = item.Id})" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-refresh"></i> Reset Password</a>

            </td>
        </tr>
    }

</table>



