﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.col-actions{
    width:160px !important;
}

th.sorting{
    white-space:nowrap;
}

span.form-control-readonly{
    border:0px;
    box-shadow:none;
    padding-left:0px;
}

.dt-button.buttons-columnVisibility.active a {
    background-color: transparent;
    color: #333333;
}

.dt-button.buttons-columnVisibility.active a:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.buttons-columnVisibility.active .checked {
    display: inline;
}
.buttons-columnVisibility.active .unchecked {
    display: none;
}

.buttons-columnVisibility .checked {
    display: none;
}

.buttons-columnVisibility .unchecked {
    display: inline;
}